page-details {
    .button-ios {
        padding: 0;
    }
}
.myIon-modal {
        position: absolute;
        top: 15%;
        left: 10%;
        right: 10%;
        display: block;
        width: 75%;
        height: 59%;
        background-color: rgb(135, 199, 196);
    }
